  <div class="sixteen columns" id="footer">
      2014 CodeScouts - Borggrewe &amp; Herlings GbR
      , <a href="{{ site.url }}/impressum">Impressum</a>
      , <a href="{{ site.url }}/agb">AGB</a>
      , <a href="{{ site.url }}/datenschutz">Datenschutzbestimmungen</a>
  </div><!--/#footer-->
</div><!--/.container-->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36016929-1']);
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>