---
layout: default
---

<article class="content">
{{ content }}
</article>


<script type="text/javascript">
$(function($)
{

  var part          = 1,
      regex_result  = window.location.search.match(/\?part=(\d+)/),
      vimeo_template = 'http://player.vimeo.com/video/[VID]?portrait=0&amp;byline=0&amp;title=0&amp;color=000000&amp;autoplay=1&amp;api=1&amp;player_id=cs_player';

  if(regex_result && regex_result.length == 2)
    part = regex_result[1];

  var $rows         = $('.video_parts_table tr'),
      $current_row  = $($rows[part-1]),
      $current_link = $current_row.find('a'),
      current_vid   = $current_link.attr('data-vid');

    $current_row.addClass('current');
    var new_url = vimeo_template.replace('[VID]', current_vid);
    
    if($('#video_box iframe').attr('src') != new_url)
    {
      $('#video_box iframe').attr('src', new_url);
    }
});
</script>